<div id="mail_chimp_api"></div>
    <script type="text/javascript">
        var mailChimpApiKey = ThematicGhost.mail_chimp_id; // required: replace example with your forum shortname


    </script>
</div>