{{! Registration Success }}
<div class="vspace bottom">
	<i class="fa fa-10x fa-exclamation-triangle text-danger"></i> 
</div>
<br/>
<div class="description">
	Oops, that's embarrasing. We had a problem adding your email address. It may be our fault or possibly a network issue; please try back
	in 10-15 minutes. Sorry for the inconvience. 
</div>
<div class="action-bar">
	<button type="button" class="btn btn-default" onclick="chimpState('register')">Ok</button>
</div>