{{! Registration Success }}
<div class="col-xs-12 description-block">
	<div class="col-md-3">
		<i class="fa fa-user fa-5x status-icon"></i>
	</div>
	<div class="col-md-9 vspace top">
		We checked and it looks like you had already registered. 
		In any event, we've resent you the confirmation email for your records 
		and you will get our newsletter whenever they are sent out.
	</div>
</div>
<p>&nbsp;</p>
<div class="col-xs-12 vpadding">
	<button type="button" class="btn btn-default" onclick="chimpState('register')">ok</button> 
</div>
	

