{{! Registration Success }}
<div class="row description-block">
	<div class="col-md-2 justify-right">
		<i class="fa fa-check-circle-o fa-5x status-icon"></i>
	</div>
	<div class="col-md-9 justify-left">
		You are now registered for the {{@blog.title}} newsletter. Check your inbox for an email 
		to confirm your subscription. If you have time, please provide a little more context:
	</div>
	<div class="col-xs-12">
		<form id="additional-info" class="form-horizontal" role="form">
			{{! Name }}
		    <div class="form-group">
		      <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
		      <div class="col-sm-9 iflex">
		        <input type="email" class="form-control " id="FNAME" placeholder="first"> &nbsp;&nbsp;
		        <input type="email" class="form-control " id="LNAME" placeholder="last">
		      </div>
		    </div>
			{{! Interests }}
		    <div class="form-group">
				<label for="interest" class="col-sm-2 control-label">
					Interests
				</label>
				<div class="col-sm-9 iflex left">
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox1" value="user">
					  <span data-toggle="tooltip" data-placement="top" title="You want to use LifeGadget to track your personal data"> User</span>
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox2" value="coach">
					  <span data-toggle="tooltip" data-placement="top" title="You see LifeGadget as a way to provide coaching services"> Coach</span>
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox4" value="developer">
					  <span data-toggle="tooltip" data-placement="top" title="You interested in integrating through LifeGadget's API"> Developer
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="investor">
					  <span data-toggle="tooltip" data-placement="top" title="You would consider becoming an investor in LifeGadget"> Investor
					</label>
					<label class="checkbox-inline">
					  <input type="checkbox" id="inlineCheckbox3" value="other"> Other
					</label>
				</div>
			</div>			
		</form>
	</div>
</div>

<div class="action-bar row">
	<button type="button" class="btn btn-default" onclick="chimpAdditional('#additional-info')">Add details</button>
	<button type="button" class="btn btn-default" onclick="chimpState('register',{clearEmail: true})">Not now</button>
</div>
