// TEXT
$textLight: #C2C2C2;
$textNormal: #1B1B1B;
$textHover: #337D2E;
$textInverted: #F5F5F5;

// BACKGROUND
$backgroundNormal: #f2efe8;
$backgroundBranded: #72C27B;
$backgroundBrandedLighter: #C1E8AC;
$backgroundBrandedDarker: #416F46;
$backgroundSelected: rgba(128, 128, 128,.75);
$backgroundHover: rgba(128, 128, 128,.25);
$backgroundHoverSubtle: rgba(10, 10, 10,.1);


// NAMED COLOURS
$darkGrey: #555;


$colorLighter: #C1E8AC;
$colorNormal: #72C27B;
$colorDarker: #416F46;


$colorNormalBackground: white;

