// TEXT
$textLight: #C2C2C2;
$textNormal: #1B1B1B;
$textHover: #337D2E;

// BACKGROUND
$backgroundNormal: #f2efe8;
$backgroundBranded: #72C27B;
$backgroundBrandedLighter: #C1E8AC;
$backgroundBrandedDarker: #416F46;


$colorLighter: #C1E8AC;
$colorNormal: #72C27B;
$colorDarker: #416F46;


$colorNormalBackground: white;

