.iflex {
	display: inline-flex;
}

.vspace {
	&.bottom {
		padding-bottom: 2rem;		
	}
	&.top {
		padding-top: 2rem;		
	}
	&.both {
		padding-top: 2rem;		
		padding-bottom: 2rem;		
	}
}

// Second level lists
ul li ul {
	font-size: 1.6rem;
}