.iflex {
	display: inline-flex;
}

.vspace {
	&.bottom {
		padding-bottom: 2rem;		
	}
	&.top {
		padding-top: 2rem;		
	}
	&.both {
		padding-top: 2rem;		
		padding-bottom: 2rem;		
	}
}

// Second level lists
ul li ul {
	font-size: 1.6rem;
}

.copyright {
	padding-top: .5rem;
}

textarea {
	min-height: 95px;
	max-width: 100%;
}

.input-group.vpadding {
	padding-bottom:8px;
}

.checkbox label, .radio label {
	font-size: 1.6rem;
}

input.hpadding {
	padding-left: 10px;
}

.justify-right {
	text-align: right;
}

.justify-left {
	text-align: left;
}