#site-head-content {
	@include background-image(
		linear-gradient(to top, hsla(100%, 100%, 100%, 0.2) 0%, hsla(100%, 100%, 100%, 0.1) 50%, hsla(100%, 100%, 100%, 0.05) 95%)
	);
	padding: 15px 35px 15px 35px;
	border-radius: 8px;
	right:5%;
	min-height: 420px;
}

#site-head {
    color: #fff;
}

#site-head:after {

}

.registration {
	margin-top: 3rem;
}

.registration .screen {
	position: absolute;
	top: 140px;
	left: 0;
	width: 100%;
}

.registration .description {
	margin: 0 35px 0 35px;
	font-size: 1.5rem; 
	&.light {
		line-height: 1.8rem;
		font-weight: lighter;		
	}
}

.registration {
	margin-right: 15px;
	margin-left: 15px;
}

.registration .action-bar {
	margin-top: 3rem;
}

.registration .description-block {
	margin-top: 10px;
	font-size: 1.5rem;
	line-height: 1.6rem;
}

.registration .status-icon {
	margin-bottom: 1 rem;
}

.registration-error .description {
	margin-top: 4rem;
	margin-bottom: 2rem;
}