@import "bourbon";
@import "colours.scss";
@import "posts.scss";
@import "navigation.scss";
@import "registration.scss";
@import "fa-extend.scss";
@import "layout.scss";
@import "lists.scss";
@import "screen.scss";
// Bootstrap Overrides
$brand-primary: $backgroundBranded;
$input-border-focus: $backgroundBranded; // green border for active form control
$input-color-placeholder: $textLight;
$link-color: $textLink;
$link-hover-color: $textHover;
@import "bootstrap";
@import "media-queries.scss";


::selection {
	color: $colorNormal;
	background-color: $colorNormalBackground;
}

#subscribe-form {
	margin-top: 25px;
	width: 75%;
	display: inline-block;
}

#branding-header {
	margin-bottom: 2rem;
}

.submit-registration {
	@include background(linear-gradient(#E9E9E9, #D5D5D5 ) left repeat, radial-gradient(#E9E9E9, #D5D5D5 ) left repeat);
	padding-right: 10px;
	padding-left: 10px;
	
	&:hover {
		@include background(linear-gradient(#CCE9D4, #AFD5AE ) left repeat, radial-gradient(#CCE9D4, #AFD5AE ) left repeat);
		cursor: pointer;
		@include transition(all .25s ease-in);
		border-color: $backgroundBranded;
	}
}