@import "bourbon";
@import "colours.scss";
@import "posts.scss";
@import "screen.scss";
// Bootstrap Overrides
$input-border-focus: #72C27B; // green border for active form control
$input-color-placeholder: #C2C2C2;
@import "bootstrap";

::selection {
	color: $colorNormal;
	background-color: $colorNormalBackground;
}

#of-interest {
	margin-top: 25px;
	width: 75%;
	display: inline-block;
}

#site-head-content {
	@include background-image(
		linear-gradient(to top, hsla(100%, 100%, 100%, 0.30) 0%, hsla(100%, 100%, 100%, 0.1) 50%)
	);
	padding: 15px 35px 15px 35px;
	border-radius: 8px;
	right:5%;
}

.submit-registration {
	@include background(linear-gradient(#E9E9E9, #D5D5D5 ) left repeat, radial-gradient(#E9E9E9, #D5D5D5 ) left repeat);
	padding-right: 10px;
	padding-left: 10px;
	
	&:hover {
		@include background(linear-gradient(#CCE9D4, #AFD5AE ) left repeat, radial-gradient(#CCE9D4, #AFD5AE ) left repeat);
		cursor: pointer;
		@include transition(all .25s ease-in);
	}
}

#registration-desc {
	margin: 0 35px 0 35px;
	font-size: 1.25rem; 
	line-height: 1.5rem;
	font-weight: lighter;
}

menu {
	item {
		margin-right: 8px;
		margin-left: 8px;
		cursor: pointer;
		font-weight: bolder;
		font-size: 1.6rem;
		
		&:hover, &:focus {
			text-decoration-line: overline;
			text-decoration-style: wavy;
			text-decoration-color: #193616;
			color: $colorDarker;
			@include transition(all .15s ease-in);
		}
		&:click {
			color: red;
		}
	}
}