@import "bourbon";
@import "colours.scss";
@import "posts.scss";
@import "navigation.scss";
@import "screen.scss";
// Bootstrap Overrides
$brand-primary: $backgroundBranded;
$input-border-focus: $backgroundBranded; // green border for active form control
$input-color-placeholder: $textLight;
@import "bootstrap";

::selection {
	color: $colorNormal;
	background-color: $colorNormalBackground;
}

#subscribe-form {
	margin-top: 25px;
	width: 75%;
	display: inline-block;
}

#branding-header {
	margin-bottom: 2rem;
}

#site-head-content {
	@include background-image(
		linear-gradient(to top, hsla(100%, 100%, 100%, 0.30) 0%, hsla(100%, 100%, 100%, 0.1) 50%)
	);
	padding: 15px 35px 15px 35px;
	border-radius: 8px;
	right:5%;
}

.submit-registration {
	@include background(linear-gradient(#E9E9E9, #D5D5D5 ) left repeat, radial-gradient(#E9E9E9, #D5D5D5 ) left repeat);
	padding-right: 10px;
	padding-left: 10px;
	
	&:hover {
		@include background(linear-gradient(#CCE9D4, #AFD5AE ) left repeat, radial-gradient(#CCE9D4, #AFD5AE ) left repeat);
		cursor: pointer;
		@include transition(all .25s ease-in);
		border-color: $backgroundBranded;
	}
}
